
.RightContent{
  float: right;
  width: 339px;
  margin-right: 200px;
  display: inline-block;
}

.RightHeader{
  text-align: left;
}

.First_Form{
    float: left;
    background: white;
    border-radius: 5px;
    width: 194px;
    height: 39px;
    margin-bottom: 10px;
    color: #999;
}

.Second_Form{
  width: 399px;
}
