.contentLeft {
  display: inline-block;
  text-align: left;
  width: 565px;
  margin-right: 15px;
  margin-left: 50px; }
  @media (max-width: 600px) {
    .contentLeft {
      display: none; } }

.left-header {
  padding: 42px 0 24px 0; }

.row {
  display: block;
  margin-top: 25px; }

.row-icon {
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  margin-right: 20px;
  width: 55px; }

.row-text {
  display: inline-block;
  width: 440px; }

.bold-text {
  font-size: 17px;
  font-weight: bold;
  color: #333; }

.normal-text {
  margin-left: 10px;
  color: #666; }
