@import './global.scss';

.header {
  background-color: #3b5998;
  background-image: linear-gradient(#4e69a2, #3b5998 50%);
  height: 82px;
  width: 100%;
}

.logo {
  height: 40px;
  width: 200px;
  background-image: url("https://www.facebook.com//rsrc.php/v3/yd/r/aH47aSjq6a4.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  cursor: pointer;
  @include for-phone-only {
    width: 150px;
    background-position: 0 -15%;
    margin: 0;
  }
}

u {
  left: -999999px;
  position: absolute;
}

.button-container {
  display: flex;
  padding-left: 10px;
  max-width: 1000px;
  margin: 0;
  @include for-phone-only{
    padding-left: 0px;
  }
}

.button {
  background-color: #4267B2;
  color: white;
  height: 23px;
  border: 1px solid #1E2B5C;
  &:hover {
    background-color: #3b5998;
    cursor: pointer;
  }
}

.form-text {
  color: white;
  margin-right: 15px;
  font-size: 12px;
  text-align: left;
  width: 100%;
  display: flex;
  align-items: flex-end;
  @include for-phone-only{
    color: black;
    font-size: 14px;
  }
}
.input-form{
  display: inline-block;
}

.input-form + .input-form{
  padding-left: 10px;

}

.form-text > input {
  margin: 5px 0 0 0;
}

.loginForm{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 90%;
  padding: 0 10%;
  height: 100%;
  min-width: 150px;
}

.loginItems{
  display: flex;
  align-items: flex-end;
  width: 407px;
  padding: 5px 0;
  @include for-phone-only{
    width: 100%;
  }
}

.loginElements{
  padding-top: 10px;
  margin-left: 380px;
  @include for-phone-only{
    display: none;
    margin-left: 0px;
  }
}


.mobile-loginElements{
  display: none;
  @include for-phone-only{
    display: inline-block;
    margin-left: 0px;
  }
}

.forgotAccount{
  color: #9cb4d8;
  font-size: 12px;
  text-decoration: none;
  display: block;
}

.home-header{
  color: black;
}
.error-style {
  background-color: red;
  padding: 10px;
  line-height: 25px;
  display: inline-block;
}
