.header {
  background-color: #3b5998;
  background-image: linear-gradient(#4e69a2, #3b5998 50%);
  height: 82px;
  width: 100%; }

.logo {
  height: 40px;
  width: 200px;
  background-image: url("https://www.facebook.com//rsrc.php/v3/yd/r/aH47aSjq6a4.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  cursor: pointer; }
  @media (max-width: 600px) {
    .logo {
      width: 150px;
      background-position: 0 -15%;
      margin: 0; } }

u {
  left: -999999px;
  position: absolute; }

.form-text > input {
  margin: 5px 0 0 0; }

.loginItems {
  display: flex;
  align-items: flex-end;
  width: 407px; }
  @media (max-width: 600px) {
    .loginItems {
      width: 100%; } }

.loginElements {
  padding-top: 10px;
  margin-left: 380px; }
  @media (max-width: 600px) {
    .loginElements {
      display: none;
      margin-left: 0px; } }

.mobile-loginElements {
  display: none; }
  @media (max-width: 600px) {
    .mobile-loginElements {
      display: inline-block;
      margin-left: 0px;
      width: 100%; } }

.home-header {
  color: black; }

.loginForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 90%;
  padding: 0 10%;
  height: 100%;
  min-width: 150px; }
