@import './global.scss';

.logout {
  background-color: #4267B2;
  color: white;
  height: 23px;
  border: 1px solid #1E2B5C;
  &:hover {
    background-color: #3b5998;
    cursor: pointer;
  }
}

.buttonContainer {
  display: flex;
  align-items: center;
  @include for-phone-only {
    flex-direction: column;
    align-items: flex-end;
  }
}

.username {
  @include for-phone-only {
    margin: 0 0 5px 0;
  }
  color: white;
  margin-right: 20px;
}
