.logout {
  background-color: #4267B2;
  color: white;
  height: 23px;
  border: 1px solid #1E2B5C; }
  .logout:hover {
    background-color: #3b5998;
    cursor: pointer; }

.buttonContainer {
  display: flex;
  align-items: center; }
  @media (max-width: 600px) {
    .buttonContainer {
      flex-direction: column;
      align-items: flex-end; } }

.username {
  color: white;
  margin-right: 20px; }
  @media (max-width: 600px) {
    .username {
      margin: 0 0 5px 0; } }
