
input[type=checkbox] {
  display: none;
}

.toggle-login {
  display: inline;
}
.toggle-label {
  display: inline-block;
}

input[type=checkbox]:checked{
  & ~ .toggle-login {
    display: none;
  }
  & + .toggle-label:after{
    content: "-";
  }
}
