@import './global.scss';

.loginItems input::placeholder{
  color: transparent;
  @include for-phone-only {
    color: #999;
  }
}

.login-title {
  display: none;
  @include for-phone-only {
    display: block;
    font-size: 16px;
    color: #333;
    font-weight: bold;
  }
}

.loginItems{
  display: flex;
  align-items: flex-end;
  width: 407px;
  @include for-phone-only {
    width: 100%;
  }
}

.error-style {
  background-color: red;
  padding: 10px;
  line-height: 25px;
  display: inline-block;
}

.loginElements{
  padding-top: 10px;
  @include for-phone-only {
    display: none;
    margin-left: 0px;
  }
}

.mobile-loginElements{
  display: none;
  @include for-phone-only {
    display: inline-block;
    margin-left: 0px;
    width: 100%;
  }
}

.loginItems{
  display: flex;
  align-items: flex-end;
  width: 407px;
  @include for-phone-only {
    width: 100%;
  }
}

.input-form input {
  @include for-phone-only {
    height: 30px;
    width: 100%;
  }
}

.button-container {
  display: flex;
  padding-left: 10px;
  max-width: 1000px;
  margin: 0;
  @include for-phone-only {
    padding-left: 0px;
    display: inline-block;
    max-width: 100px;
    margin-top: 10px;
  }
}

.button {
  background-color: #4267B2;
  color: white;
  height: 23px;
  border: 1px solid #1E2B5C;
  &:hover {
    background-color: #3b5998;
    cursor: pointer;
  }
}

.form-text {
  color: white;
  margin-right: 15px;
  font-size: 12px;
  text-align: left;
  width: 100%;
  display: flex;
  align-items: flex-end;
  @include for-phone-only {
    color: black;
    display: block;
    margin-right: 0px;
  }
}
.input-form{
  display: block;
}

.input-form + .input-form{
  padding-left: 10px;
  @include for-phone-only {
    padding-left: 0px;
    width: 100%;
  }
}

.forgotAccount{
  color: #9cb4d8;
  font-size: 12px;
  text-decoration: none;
  display: block;
}

.form-descriptor {
  @include for-phone-only {
    display: none;
  }
}
