@import './components/global.scss';
.App {
  text-align: center;
}

.content {
  display: flex;
  margin: 0 auto;
  padding: 20px 0;
  @include phone{
    min-width: 100%;
  }
}

.content-container {
  background: #edf0f5;
  padding-bottom: 180px;
  @include phone{
    width: 100%;
  }
}
